<footer class="site-footer">
    <div class="particles-snow" id="footer-snow"></div>

    <img src="./assets/img/footer-shape-1-1.png" class="site-footer__bg-shape-1" alt="">
    <img src="./assets/img/footer-shape-1-2.png" class="site-footer__bg-shape-2" alt="">
    <img src="./assets/img/footer-shape-1-3.png" class="site-footer__bg-shape-3" alt="">
    <img src="./assets/img/footer-shape-1-4.png" class="site-footer__bg-shape-4" alt="">
    <div class="site-footer__upper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-widget footer-widget__about text-center">
                        <h3 class="footer-widget__title">GGlobal Online</h3>
                        <p>Intershore Chambers, P.O. Box 4342, Road Town, Tortola, British Virgin Islands.</p>
                        <div class="footer-widget__social justify-content-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <p>Copyright © 2022 by GGlobal Online. All right reserved</p>
            <a href="/"><img src="./assets/img/logo-1-1.png" alt=""></a>
            <ul class="list-unstyled site-footer__bottom-menu">
                <li><a href="#">Privacy & Policy.</a></li>
                <li><a href="#">Terms Conditions.</a></li>
            </ul>
        </div>
    </div>
</footer>