<nav class="main-nav-one stricky">
    <div class="container-fluid">
        <div class="inner-container">
            <div class="logo-box">
                <a href="/">
                    <img src="./assets/img/logo-1-1.png" alt="">
                </a>
                <a href="#" class="side-menu__toggler"><i class="fa fa-bars"></i></a>
            </div>
            <div class="main-nav__main-navigation">
                <ul class="main-nav__navigation-box">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#advertise">Advertise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/invest.html">Invest</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="main-nav__right">
                <a href="/contact.html" class="thm-btn main-nav-one__btn"><span>Contact Us</span></a>
            </div>
        </div>
    </div>
</nav>
