<section class="page-header">
    <div class="particles-snow" id="header-snow"></div>

    <img src="./assets/img/page-header-shape-1-1.png" class="page-header__bg-shape-1" alt="">
    <img src="./assets/img/page-header-shape-1-2.png" class="page-header__bg-shape-2" alt="">
    <img src="./assets/img/footer-shape-1-1.png" class="page-header__bg-shape-3" alt="">
    <img src="./assets/img/footer-shape-1-3.png" class="page-header__bg-shape-4" alt="">
    <div class="container text-center">
        <h2>Contact Us</h2>
        <ul class="list-unstyled thm-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li><span>Contact Us</span></li>
        </ul>
    </div>
</section>
<section class="contact-two py-5">
    <img src="./assets/img/bg-shape-1-1.png" class="contact-two__bg-shape-1" alt="">
    <img src="./assets/img/bg-shape-1-2.png" class="contact-two__bg-shape-2" alt="">
    <img src="./assets/img/bg-shape-1-3.png" class="contact-two__bg-shape-3" alt="">


    <div class="contact-two__bubble-1"></div>
    <div class="contact-two__bubble-2"></div>
    <div class="contact-two__bubble-3"></div>
    <div class="contact-two__bubble-4"></div>
    <div class="contact-two__bubble-5"></div>
    <div class="contact-two__bubble-6"></div>
    <div class="contact-two__bubble-7"></div>
    <div class="contact-two__bubble-8"></div>

    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="contact-two__info">
                    <h3>GGlobal Online</h3>
                    <div class="contact-two__info-single">
                        <div class="contact-two__info-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="contact-two__info-content">
                            <h4>Location</h4>
                            <p>Intershore Chambers, P.O. Box 4342, Road Town, Tortola,<br> British Virgin Islands.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="contact-two__form-wrap">
                    <h3>Contact Us Now!</h3>
                    <form action="assets/inc/sendemail.php" class="contact-one__form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" required placeholder="Your Name*">
                            </div>
                            <div class="col-md-6">
                                <input type="text" required placeholder="Email*">
                            </div>
                            <div class="col-md-6">
                                <input type="text" required placeholder="Website*">
                            </div>
                            <div class="col-md-6">
                                <input type="text" required placeholder="Company*">
                            </div>
                            <div class="col-md-6">
                                <input type="text" required placeholder="Phone*">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Subject">
                            </div>
                            <div class="col-md-12">
                                <textarea name="" placeholder="Message"></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" class="thm-btn contact-one__btn">Send Now</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>