<section class="banner-one">
    <div class="particles-snow" id="banner-one-snow"></div><!-- /#cta-one-snow.particles-snow -->

    <img src="./assets/img/footer-shape-1-1.png" class="banner-one__bg-shape-1" alt="">
    <img src="./assets/img/footer-shape-1-2.png" class="banner-one__bg-shape-2" alt="">
    <img src="./assets/img/footer-shape-1-3.png" class="banner-one__bg-shape-3" alt="">
    <img src="./assets/img/footer-shape-1-4.png" class="banner-one__bg-shape-4" alt="">
    <img src="./assets/img/footer-shape-1-2.png" class="banner-one__bg-shape-5" alt="">
    <div class="container">
        <div class="banner-one__image wow slideInUp" data-wow-duration="1500ms">
            <img src="./assets/img/banner-moc-1-1.png" class="banner-one__image-1 " alt="">
            <img src="./assets/img/banner-moc-1-2.png" class="banner-one__image-2 float-bob-y" alt="">
            <img src="./assets/img/banner-moc-1-3.png" class="banner-one__image-3 float-bob-x" alt="">
            <img src="./assets/img/banner-moc-1-4.png" class="banner-one__image-4 " alt="">
            <img src="./assets/img/banner-moc-1-5.png" class="banner-one__image-5" alt="">
        </div>
        <div class="row">
            <div class="col-xl-7">
                <div class="banner-one__content">
                    <h3>High CPMs <br> & High Fill Rates.</h3>
                    <p>Our goal is to help mobile developers make the most out of their apps by increasing the demand on their traffic and giving optimization advice.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="service-three">
    <div class="section__bubble-1"></div>
    <div class="section__bubble-2"></div>
    <div class="section__bubble-3"></div>
    <div class="section__bubble-4"></div>
    <div class="section__bubble-5"></div>
    <div class="section__bubble-6"></div>
    <div class="section__bubble-7"></div>
    <div class="section__bubble-8"></div>

    <div class="container">
        <div class="block-title text-center">
            <p><span>Our Services</span></p>
            <h3>Monetize your traffic with <br><span>Gglobal Online</span>.</h3>
        </div>
        <div class="row high-gutters">
            <div class="col-lg-4">
                <div class="service-three__single wow flipInY" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="service-three__icon">
                        <div class="service-three__single-circle"></div>
                        <img src="./assets/img/service-3-i-2.png" alt="">
                    </div>
                    <h3><a href="service-d-seo.html">Reach</a></h3>
                    <p class="w-100">We have access to more than 20 billion worldwide impressions a month and represent some of the world's biggest app developers such as Rollic Games, Musi, Fugo, TextPlus, AudioMack, Good Job Games & Pinso.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-three__single wow flipInY" data-wow-delay="300ms"
                     data-wow-duration="1500ms">
                    <div class="service-three__icon">
                        <div class="service-three__single-circle"></div>
                        <img src="./assets/img/service-3-i-1.png" alt="">
                    </div>
                    <h3><a href="service-d-social.html">Optimization</a></h3>
                    <p class="w-100">CPM, fill rate, and revenue optimization: GglobalOnline is dedicated to increasing your advertising revenue using Banners & Video Ads from Google, direct clients, and leading demand-side platforms (DSPs).</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-three__single wow flipInY" data-wow-delay="600ms"
                     data-wow-duration="1500ms">
                    <div class="service-three__icon">
                        <div class="service-three__single-circle"></div>
                        <img src="./assets/img/service-3-i-3.png" alt="">
                    </div>
                    <h3><a href="service-d-ppc.html">Consulting</a></h3>
                    <p class="w-100">Consulting services beyond ads: We identify trends through competitor benchmarking & analysis to help our publishers achieve higher stability, revenues, retention & more time spent on apps.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="brand-one brand-one__service-page">
    <div class="container">
        <div class="brand-one__carousel owl-carousel thm__owl-carousel owl-theme"
             data-options='{
            "items": 8, "margin": 95, "smartSpeed": 700, "loop": true, "autoplay": true, "autoplayTimeout": 5000, "autoplayHoverPause": false, "nav": false, "dots": false, "responsive": {"0": { "margin": 20, "items": 4 }, "575": { "margin": 30, "items": 4 },"767": { "margin": 40, "items": 4 },   "991": { "margin": 70, "items": 6 }, "1199": { "margin": 95, "items": 8 } } }'>
            <div class="item">
                <img src="./assets/img/1.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/2.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/3.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/4.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/5.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/6.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/7.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/8.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/9.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/10.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/11.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="about-two">
    <img src="./assets/img/about-2-bg-1-1.png" class="about-two__bg-shape-1" alt="">
    <div class="container">
        <img src="./assets/img/about-2-bg-1-2.png" class="about-two__bg-shape-2" alt="">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-two__images wow fadeInLeft d-none d-md-block" data-wow-duration="1500ms">
                    <img src="./assets/img/about-2-moc-1.png" class="about-two__image-1 float-bob-y" alt="">
                    <img src="./assets/img/about-2-moc-2.png" class="about-two__image-2" alt="">
                    <img src="./assets/img/about-2-moc-3.png" class="about-two__image-3 float-bob-y" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-two__content">
                    <div class="block-title text-left">
                        <p class="color-2"><span>About Company</span></p>
                        <h3>GGlobal Online<br> <span>High CPMs & High Fill Rates</span></h3>
                    </div>
                    <p>GglobalOnline is an Ad tech consulting company that specializes in monetization solutions and yield optimization. We help hundreds of top-ranking developers monetize their traffic.</p>

                    <div class="about-two__counter-wrap">
                        <div class="about-two__counter">
                            <div class="about-two__count"><span class="counter">5</span><!-- /.counter --> <b>B+</b></div>
                            <h3>Impressions monthly</h3>
                        </div>
                        <div class="about-two__counter">
                            <div class="about-two__count"><span class="counter">400</span><!-- /.counter --> <b>M+</b></div>
                            <h3>Unique visitors</h3>
                        </div>
                        <div class="about-two__counter">
                            <div class="about-two__count"><span class="counter">3</span><!-- /.counter --><b>K+</b></div>
                            <h3>Partners</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials-one testimonials-one__about-one">
    <div class="container">
        <div class="block-title text-left">
            <p class="color-2"><span>Our Testimonial</span></p>
            <h3>What our top partners<br> <span>are saying..</span></h3>
        </div>
        <div style="max-width: 900px; margin: 0 auto;" class="testimonials-one__carousel thm__owl-carousel owl-carousel owl-theme" data-options='{
                    "items": 1, "margin": 40, "smartSpeed": 700, "autoplay": true, "autoplayTimeout": 5000,
                    "autoplayHoverPause": true, "nav": false, "dots": false, "loop": true
                }'>
            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__icon">
                        <img class="mw-100" src="./assets/img/1.png" alt="">
                    </div>
                    <p>GglobalOnline has been one of our fastest growing partners in the last 12 months, their attention to detail and ability to match pricing of their demand with our supply has provided Gamejam with superior CPMs at scale driving higher revenues and making our waterfall more competitive.</p>
                    <h3>Christian Calderon</h3>
                    <div class="pl-4">
                        <span>GameJam | Co founder and CEO.</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__icon">
                        <img class="mw-100" src="./assets/img/8.png" alt="">
                    </div>
                    <p>We have had a very positive experience working with GglobalOnline for our display banner and interstitial monetization. From the friendly, hands on account management team to the consistent, quarter-after-quarter results, we hold GglobalOnline to a very high regard and consider them to be one of our most valued monetization partners.</p>
                    <h3>Aaron Wojnowski</h3>
                    <div class="pl-4">
                        <span>Musi Inc. | Founder.</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__icon">
                        <img class="mw-100" src="./assets/img/7.png" alt="">
                    </div>
                    <p>GglobalOnline has been an outstanding monetization partner for Audiomack. GglobalOnline is continually among our top demand partners for overall spend and CPMs, and offers worldwide demand which is critical for a global publisher like Audiomack. Demand aside, their team is top notch and is extremely responsive and knowledgeable — they've been a great resource for us and we'd strongly recommend them to any mobile publisher.</p>
                    <h3>Dave Edwards</h3>
                    <div class="pl-4">
                        <span>AudioMack | VP Revenue.</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__icon">
                        <img class="mw-100" src="./assets/img/12.png" alt="">
                    </div>
                    <p>GglobalOnline has been a terrific partner for our publishers to work with. They are responsive, helpful and attentive to the needs of our publishers and have top-notch knowledge of the mobile advertising ecosystem. They are a pleasure to work with.</p>
                    <h3>Chris Stead</h3>
                    <div class="pl-4">
                        <span>Ad-Libertas | COO.</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__icon">
                        <img class="mw-100" src="./assets/img/10.png" alt="">
                    </div>
                    <p>GglobalOnline has been a top-notch monetization partner for Weather Creative. In terms of ease-of-integration, consistent demand, and team responsiveness we couldn’t ask for a better partner. We recommend them to other mobile publishers without hesitation.</p>
                    <h3>Suraj Hemmani</h3>
                    <div class="pl-4">
                        <span>Weather Creative | Co-Founder.</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__icon">
                        <img class="mw-100" src="./assets/img/11.png" alt="">
                    </div><!-- /.testimonials-one__icon -->
                    <p>GglobalOnline has become an invaluable component of Oak's business. Their hands-on approach to navigating the industry changes and continuous performance optimization has helped us maximize our user LTV and earn potential across all our mobile apps.</p>
                    <h3>OAK APPS</h3>
                </div>
            </div>

            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__icon">
                        <img class="mw-100" src="./assets/img/13.png" alt="">
                    </div>
                    <p>As an ad mediation service that works with a variety of publishers and ad networks, operational support is of the utmost importance to us. With its effective organizational communication and dedicated account managers, GglobalOnline has become a significant partner to Admost in our endeavor to maximize the ad revenues and satisfy all monetization needs of our publishers.</p>
                    <h3>Admost Mediation</h3>
                </div>
            </div>

            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__icon">
                        <img class="mw-100" src="./assets/img/14.png" alt="">
                    </div>
                    <p>GglobalOnline has been an integral part of Night Cat Production's ad waterfall for approximately 3 years.  Their personalized approach, combined with their ease of integration, high quality ads, and excellent eCPM optimization, have made them a top ad partner.  I'm so glad they reached out to me.</p>
                    <h3>Billy King</h3>
                    <div class="pl-4">
                        <span>Night Cat Productions | Founder.</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__icon">
                        <img class="mw-100" src="./assets/img/15.png" alt="">
                    </div>
                    <p>As a top mobile ad mediation & growth platform, we can attest that GglobalOnline is a strong ad network to include. After integrating GglobalOnline, many of our developers and publishers have boosted their ARPDAU by up to 20%, and overall ad revenues significantly. We highly recommend their integration, especially for apps & games with a solid presence in the US & CIS markets.</p>
                    <h3>AppoDeal Mediation</h3>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="cta-one cta-one__home-one">
    <div class="particles-snow" id="cta-one-snow"></div><!-- /#cta-one-snow.particles-snow -->

    <img src="./assets/img/footer-shape-1-1.png" class="cta-one__bg-shape-1" alt="">
    <img src="./assets/img/footer-shape-1-2.png" class="cta-one__bg-shape-2" alt="">
    <img src="./assets/img/footer-shape-1-3.png" class="cta-one__bg-shape-3" alt="">
    <img src="./assets/img/footer-shape-1-4.png" class="cta-one__bg-shape-4" alt="">

    <div class="container">
        <h3>Interested in getting the conversation started?</h3>
        <a href="#" class="thm-btn cta-one__btn"><span>Join Us Now</span></a>
    </div>
</section>

<section class="service-one">
    <div class="container">
        <div class="block-title text-center">
            <p><span>Our Solutions</span></p>
            <h3>We Provided Best Ad Tech <br> <span>Solutions</span></h3>
        </div>
        <div class="row high-gutters">
            <div class="col-lg-12 col-md-12 wow fadeInLeft" data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__icon">
                        <div class="service-one__icon-inner">
                            <img src="./assets/img/service-i-1.png" alt="">
                        </div>
                    </div>
                    <div class="service-one__content">
                        <h3>Dedicated Account Managers & Compliance</h3>
                        <p>- A dedicated account manager will frequently contact publishers to enforce existing or new ad serving policies.</p>
                        <p>- We ensure that our Google ads are not called more than three times for a given impression.</p>
                        <p>- Our data protection team helps our publishers stay GDPR / CCPA compliant.</p>
                        <p>- We help our partners go through and adapt to significant industry changes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 wow fadeInRight" data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__icon">
                        <div class="service-one__icon-inner">
                            <img src="./assets/img/service-i-4.png" alt="">
                        </div>
                    </div>
                    <div class="service-one__content">
                        <h3>Quality Assurance</h3>
                        <p>- We use internal and third-party tools to quickly identify & prevent invalid traffic & activity. (deductions < 0.25% of our total revenues).</p>
                        <p>- 98% of our partners have included us on their ads.txt & app-ads.txt.</p>
                        <p>- We only run direct ads, no third-party ad tags. You can exclude any category of ads that you think do not fit with your audience.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 wow fadeInLeft" data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__icon">
                        <div class="service-one__icon-inner">
                            <img src="./assets/img/service-i-2.png" alt="">
                        </div>
                    </div>
                    <div class="service-one__content">
                        <h3><a href="service-details.html">Competitive Payment Terms</a></h3>
                        <p>- We have partnered with the leading company Payoneer to provide an GglobalOnline Mastercard that will allow you to receive commission payments instantly.</p>
                        <p>- We also offer international bank transfers in local currencies along with mass PayPal payments!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-three">
    <img src="./assets/img/about-3-bg-1-1.png" class="about-three__bg-image-1" alt="">

    <div class="section__bubble-1"></div>
    <div class="section__bubble-2"></div>
    <div class="section__bubble-3"></div>
    <div class="section__bubble-4"></div>
    <div class="section__bubble-5"></div>
    <div class="section__bubble-6"></div>
    <div class="section__bubble-7"></div>
    <div class="section__bubble-8"></div>

</section>

<section id="advertise" class="step-one blog-one">
    <img src="./assets/img/steps-bg-1-1.png" class="step-one__bg-image-1" alt="">
    <div class="container">
        <div class="block-title text-center">
            <p><span>Ad Formats</span></p>
            <h3>Rewarded, Interstitials, Banners and Native.<br> <span>We offer guidance on user-friendly formats, best placements & mediation. </span></h3>
        </div>

        <div class="brand-one__carousel owl-carousel thm__owl-carousel owl-theme"
             data-options='{
            "items": 5, "margin": 95, "smartSpeed": 700, "loop": false, "autoplay": true, "autoplayTimeout": 5000, "autoplayHoverPause": false, "nav": false, "dots": false, "responsive": {"0": { "margin": 20, "items": 2 }, "575": { "margin": 30, "items": 3 },"767": { "margin": 40, "items": 4 },   "991": { "margin": 70, "items": 4 }, "1199": { "margin": 95, "items": 5 } } }'>
            <div class="item">
                <img src="./assets/img/1.svg" alt="">
                <div class="text-center mt-3 font-weight-bold">Display</div>
            </div>
            <div class="item">
                <img src="./assets/img/2.svg" alt="">
                <div class="text-center mt-3 font-weight-bold">Video</div>
            </div>
            <div class="item">
                <img src="./assets/img/3.svg" alt="">
                <div class="text-center mt-3 font-weight-bold">Rich Media</div>
            </div>
            <div class="item">
                <img src="./assets/img/4.svg" alt="">
                <div class="text-center mt-3 font-weight-bold">Native Video</div>
            </div>
            <div class="item">
                <img src="./assets/img/5.svg" alt="">
                <div class="text-center mt-3 font-weight-bold">Native</div>
            </div>
        </div>

    </div>
    <div class="container py-5 mt-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="about-one__content">
                    <div class="block-title text-left">
                        <p class="color-2"><span>Advertise</span></p>
                        <h3>Get access to <br> <span>Premium Inventory</span></h3>
                    </div>
                    <div class="about-one__box-wrapper">
                        <div class="about-one__box">
                            <div class="about-one__box-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="about-one__box-content">
                                <h3>Performance Based Campaigns</h3>
                                <p>You pay only for the valid leads you get. Your ads are displayed only on websites that perform best for you.</p>
                            </div>
                        </div>
                        <div class="about-one__box">
                            <div class="about-one__box-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="about-one__box-content">
                                <h3>Flexibility, Cost Efficiency & Scalability</h3>
                                <p>Choose the model (CPM, CPC or CPA/CPI), the rate and set the budget.</p>
                            </div>
                        </div>
                        <div class="about-one__box">
                            <div class="about-one__box-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="about-one__box-content">
                                <h3>Reach Mobile Users</h3>
                                <p>Our Mobile Ads appear on content websites (mobile web), in native apps and video. Use them to put your apps in front of mobile users as they use their smartphones and tablets throughout the day.</p>
                            </div>
                        </div>
                        <div class="about-one__box">
                            <div class="about-one__box-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="about-one__box-content">
                                <h3>Targeting & Re-Targeting</h3>
                                <p>High quality audience by country, region, language, age…</p>
                                <p>Re-Target paying users as well as the users that don’t convert right away.</p>
                                <p>Place our API on your website to collect all kind of signals and re-target high-intent customers.</p>
                            </div>
                        </div>
                        <div class="about-one__box">
                            <div class="about-one__box-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="about-one__box-content">
                                <h3>Fraud Detection</h3>
                                <p>Real Time fraud detection using our own internal tools along with Forensiq and Fraudlogix. We detect in real time: Brand Safety, Domain Masking, Smart Device Fingerprinting , Cloaking Detection, Proxy Unmasking, Fraud Intelligence Database, Forensic Pattern Matching, Device Manipulation Recognition etc…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="my-auto">
                    <div class="about-one__image wow slideInDown d-none d-md-block" data-wow-duration="1500ms">
                        <img src="./assets/img/about-1-moc-2.png" class="float-bob-x" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div class="mt-5 brand-one__carousel owl-carousel thm__owl-carousel owl-theme"
             data-options='{
            "items": 8, "margin": 95, "smartSpeed": 700, "loop": true, "autoplay": true, "autoplayTimeout": 5000, "autoplayHoverPause": false, "nav": false, "dots": false, "responsive": {"0": { "margin": 20, "items": 4}, "575": { "margin": 30, "items": 4 },"767": { "margin": 40, "items": 4 },   "991": { "margin": 70, "items": 6 }, "1199": { "margin": 95, "items": 8 } } }'>
            <div class="item">
                <img src="./assets/img/16.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/17.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/18.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/19.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/20.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/21.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/22.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/23.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/24.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/25.png" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/26.png" alt="">
            </div>
        </div>


    </div>
</section>
<section class="contact-one">
    <div class="container wow fadeInUp" data-wow-duration="1500ms">
        <div class="inner-container">
            <img src="./assets/img/contact-form-shape-1-1.png" class="contact-one__shape-1" alt="">
            <img src="./assets/img/contact-1-moc-1.png" class="contact-one__shape-2" alt="">
            <img src="./assets/img/contact-1-moc-2.png" class="contact-one__shape-3" alt="">
            <div class="block-title text-center">
                <h3>Contact Us Now!</h3>
            </div>
            <form action="assets/inc/sendemail.php" class="contact-one__form">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" required placeholder="Your Name*">
                    </div>
                    <div class="col-md-6">
                        <input type="text" required placeholder="Email*">
                    </div>
                    <div class="col-md-6">
                        <input type="text" required placeholder="Website*">
                    </div>
                    <div class="col-md-6">
                        <input type="text" required placeholder="Company*">
                    </div>
                    <div class="col-md-6">
                        <input type="text" required placeholder="Phone*">
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Subject">
                    </div>
                    <div class="col-md-12">
                        <textarea name="" placeholder="Message"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="thm-btn contact-one__btn">Send Now</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
