<section class="page-header">
    <div class="particles-snow" id="header-snow"></div>

    <img src="./assets/img/page-header-shape-1-1.png" class="page-header__bg-shape-1" alt="">
    <img src="./assets/img/page-header-shape-1-2.png" class="page-header__bg-shape-2" alt="">
    <img src="./assets/img/footer-shape-1-1.png" class="page-header__bg-shape-3" alt="">
    <img src="./assets/img/footer-shape-1-3.png" class="page-header__bg-shape-4" alt="">
    <div class="container text-center">
        <h2>Invest</h2>
        <ul class="list-unstyled thm-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li><span>Invest</span></li>
        </ul>
    </div>
</section>
<section class="service-one">
    <div class="container">
        <div class="block-title text-center">
            <p><span>GGlobal Online Invest</span></p>
            <h3>About</h3>
        </div>
        <p>Aside from its own activities in Digital Marketing and Programmatic Advertising, Go Global Online has its own venture capital, providing funding and growth support to start-up and early stage company.</p>
        <p>We strongly believe that digital operations are now more important than ever, with many transformative changes accelerating over the past year, and will shape the year to come. That is why we are focusing on profitable growth companies in the digital media, marketing and technology industries.</p>
        <p>Our fund is supported by our own board members as well as more than 20 investor partners. It is led by Mrs. Sonia Ho - Go Global Online CFO - with her background in Asset management, having previously worked in senior management roles at HSBC Hong Kong.</p>
        <div class="block-title text-center mt-5">
            <h3>Value Add</h3>
        </div>
        <div class="row high-gutters d-flex justify-content-center">

            <div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__icon">
                        <div class="service-one__icon-inner">
                            <img src="./assets/img/service-i-1.png" alt="">
                        </div>
                    </div>
                    <div class="service-one__content">
                        <h3>Access to capital markets</h3>
                        <p>Connect you with the right investors and partners</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__icon">
                        <div class="service-one__icon-inner">
                            <img src="./assets/img/service-2-i-3.png" alt="">
                        </div>
                    </div>
                    <div class="service-one__content">
                        <h3>Business Development</h3>
                        <p>Strengthen your salesforce to build the right partnerships</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__icon">
                        <div class="service-one__icon-inner">
                            <img src="./assets/img/service-i-4.png" alt="">
                        </div>
                    </div>
                    <div class="service-one__content">
                        <h3>Operations Strategy</h3>
                        <p>Provide legal, financial and organisational support</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__icon">
                        <div class="service-one__icon-inner">
                            <img src="./assets/img/service-2-i-2.png" alt="">
                        </div>
                    </div>
                    <div class="service-one__content">
                        <h3>Geographic expansion</h3>
                        <p>Promote and grow your brand beyond your limits</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__icon">
                        <div class="service-one__icon-inner">
                            <img src="./assets/img/service-2-i-1.png" alt="">
                        </div>
                    </div>
                    <div class="service-one__content">
                        <h3>Funding</h3>
                        <p>Finance your idea or lead your rounds.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="block-title text-center mt-5">
            <h3>Portfolio</h3>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div>
                <a href="https://instreamatic.com/" target="_blank" title="">
                    <img src="./assets/img/instreamatic.png" alt="instreamatic">
                </a>
            </div>
            <div>
                <a href="https://kubient.com/" target="_blank" title="">
                    <img src="./assets/img/kubient.png" alt="kubient">
                </a>
            </div>
            <div>
                <a href="https://orbitsoft.com/" target="_blank" title="">
                    <img src="./assets/img/orbitsoft.png" alt="orbitsoft">
                </a>
            </div>
            <div>
                <a href="https://rodeo.my/" target="_blank" title="">
                    <img src="./assets/img/rodeo.png" alt="rodeo">
                </a>
            </div>
        </div>
    </div>
</section>
<section class="contact-one">
    <div class="container wow fadeInUp" data-wow-duration="1500ms">
        <div class="inner-container">
            <img src="./assets/img/contact-form-shape-1-1.png" class="contact-one__shape-1" alt="">
            <img src="./assets/img/contact-1-moc-1.png" class="contact-one__shape-2" alt="">
            <img src="./assets/img/contact-1-moc-2.png" class="contact-one__shape-3" alt="">
            <div class="block-title text-center">
                <h3>Contact Us Now!</h3>
            </div>
            <form action="assets/inc/sendemail.php" class="contact-one__form">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" required placeholder="Your Name*">
                    </div>
                    <div class="col-md-6">
                        <input type="text" required placeholder="Email*">
                    </div>
                    <div class="col-md-6">
                        <input type="text" required placeholder="Website*">
                    </div>
                    <div class="col-md-6">
                        <input type="text" required placeholder="Company*">
                    </div>
                    <div class="col-md-6">
                        <input type="text" required placeholder="Phone*">
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Subject">
                    </div>
                    <div class="col-md-12">
                        <textarea name="" placeholder="Message"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="thm-btn contact-one__btn">Send Now</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>


